.elementor-967 .elementor-element.elementor-element-151d63b{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;}.elementor-967 .elementor-element.elementor-element-151d63b:not(.elementor-motion-effects-element-type-background), .elementor-967 .elementor-element.elementor-element-151d63b > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#000000;}.elementor-widget-heading .elementor-heading-title{font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-weight:var( --e-global-typography-primary-font-weight );color:var( --e-global-color-primary );}.elementor-967 .elementor-element.elementor-element-4c0cdca{text-align:center;}.elementor-967 .elementor-element.elementor-element-4c0cdca .elementor-heading-title{font-family:"Roboto", Sans-serif;font-weight:600;color:#FF0000;}.elementor-967 .elementor-element.elementor-element-3cf8c67{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;}.elementor-967 .elementor-element.elementor-element-3cf8c67:not(.elementor-motion-effects-element-type-background), .elementor-967 .elementor-element.elementor-element-3cf8c67 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#000000;}.elementor-967 .elementor-element.elementor-element-0888dd3{text-align:center;}.elementor-967 .elementor-element.elementor-element-0888dd3 .elementor-heading-title{font-family:"Roboto", Sans-serif;font-weight:600;color:#BAB5B5;}.elementor-967 .elementor-element.elementor-element-b87639b{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;}.elementor-967 .elementor-element.elementor-element-b87639b:not(.elementor-motion-effects-element-type-background), .elementor-967 .elementor-element.elementor-element-b87639b > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#000000;}.elementor-widget-image .widget-image-caption{color:var( --e-global-color-text );font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );}.elementor-967 .elementor-element.elementor-element-d9d323b{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--overlay-opacity:0.5;}.elementor-967 .elementor-element.elementor-element-d9d323b:not(.elementor-motion-effects-element-type-background), .elementor-967 .elementor-element.elementor-element-d9d323b > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#000000;}.elementor-967 .elementor-element.elementor-element-d9d323b::before, .elementor-967 .elementor-element.elementor-element-d9d323b > .elementor-background-video-container::before, .elementor-967 .elementor-element.elementor-element-d9d323b > .e-con-inner > .elementor-background-video-container::before, .elementor-967 .elementor-element.elementor-element-d9d323b > .elementor-background-slideshow::before, .elementor-967 .elementor-element.elementor-element-d9d323b > .e-con-inner > .elementor-background-slideshow::before, .elementor-967 .elementor-element.elementor-element-d9d323b > .elementor-motion-effects-container > .elementor-motion-effects-layer::before{background-color:#000000;--background-overlay:'';}.elementor-967 .elementor-element.elementor-element-e3da4ca{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;}.elementor-967 .elementor-element.elementor-element-e3da4ca:not(.elementor-motion-effects-element-type-background), .elementor-967 .elementor-element.elementor-element-e3da4ca > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#000000;}.elementor-widget-button .elementor-button{background-color:var( --e-global-color-accent );font-family:var( --e-global-typography-accent-font-family ), Sans-serif;font-weight:var( --e-global-typography-accent-font-weight );}.elementor-967 .elementor-element.elementor-element-836e476 .elementor-button{background-color:#9A0000;font-family:"Roboto", Sans-serif;font-weight:500;}.elementor-967 .elementor-element.elementor-element-6c5babf{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;}.elementor-967 .elementor-element.elementor-element-6c5babf:not(.elementor-motion-effects-element-type-background), .elementor-967 .elementor-element.elementor-element-6c5babf > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#000000;}.elementor-widget-text-editor{font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );color:var( --e-global-color-text );}.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap{background-color:var( --e-global-color-primary );}.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap, .elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap{color:var( --e-global-color-primary );border-color:var( --e-global-color-primary );}.elementor-widget-divider{--divider-color:var( --e-global-color-secondary );}.elementor-widget-divider .elementor-divider__text{color:var( --e-global-color-secondary );font-family:var( --e-global-typography-secondary-font-family ), Sans-serif;font-weight:var( --e-global-typography-secondary-font-weight );}.elementor-widget-divider.elementor-view-stacked .elementor-icon{background-color:var( --e-global-color-secondary );}.elementor-widget-divider.elementor-view-framed .elementor-icon, .elementor-widget-divider.elementor-view-default .elementor-icon{color:var( --e-global-color-secondary );border-color:var( --e-global-color-secondary );}.elementor-widget-divider.elementor-view-framed .elementor-icon, .elementor-widget-divider.elementor-view-default .elementor-icon svg{fill:var( --e-global-color-secondary );}.elementor-967 .elementor-element.elementor-element-044c8df{--divider-border-style:solid;--divider-color:#000;--divider-border-width:7.2px;}.elementor-967 .elementor-element.elementor-element-044c8df .elementor-divider-separator{width:100%;}.elementor-967 .elementor-element.elementor-element-044c8df .elementor-divider{padding-block-start:15px;padding-block-end:15px;}.elementor-967 .elementor-element.elementor-element-38a757f{--divider-border-style:solid;--divider-color:#000;--divider-border-width:7.2px;}.elementor-967 .elementor-element.elementor-element-38a757f .elementor-divider-separator{width:100%;}.elementor-967 .elementor-element.elementor-element-38a757f .elementor-divider{padding-block-start:15px;padding-block-end:15px;}@media(max-width:767px){.elementor-967 .elementor-element.elementor-element-4c0cdca .elementor-heading-title{font-size:19px;}.elementor-967 .elementor-element.elementor-element-0888dd3 .elementor-heading-title{font-size:13px;}.elementor-967 .elementor-element.elementor-element-d9d323b{--content-width:995px;--min-height:463px;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;}.elementor-967 .elementor-element.elementor-element-d9d323b.e-con{--align-self:stretch;--order:-99999 /* order start hack */;}.elementor-967 .elementor-element.elementor-element-836e476 > .elementor-widget-container{padding:1px 1px 1px 1px;}.elementor-967 .elementor-element.elementor-element-836e476 .elementor-button{font-size:20px;border-radius:6px 6px 6px 6px;padding:-4px -4px -4px -4px;}.elementor-967 .elementor-element.elementor-element-044c8df .elementor-divider-separator{width:0%;}.elementor-967 .elementor-element.elementor-element-044c8df .elementor-divider{padding-block-start:50px;padding-block-end:50px;}.elementor-967 .elementor-element.elementor-element-38a757f .elementor-divider-separator{width:0%;}.elementor-967 .elementor-element.elementor-element-38a757f .elementor-divider{padding-block-start:50px;padding-block-end:50px;}}/* Start custom CSS for button, class: .elementor-element-836e476 */.brilho2 .elementor-button {
 background: #D1D1D1 !important;
 border: 3px solid #fff;
 padding: 15px 60px;
 display: flex;
 align-items: center;
 justify-content: center;
 border-radius: 100px;
 position: relative;
 transition: 2s;
}

@media(max-width: 767px){
 .brilho2 .elementor-button {
 padding: 15px 30px;
}
}

.brilho2 .elementor-button:before {
  background-image: radial-gradient(43.3% 44.23% at 50% 49.51%, #fffff7 29%, #fffacd 48.5%, #f4d2bf 60.71%, #f4d2bf00 100%);
  filter: blur(5px);
  width: 300px;
  height: 150px;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(var(--button-translate-x, -10%), -50%);
  border-radius: 100%;
  transition: transform 0.8s cubic-bezier(.4, 0, .2, 1);
}

.brilho2 .elementor-button.hovering:before {
  transition: transform 0.15s ease-out !important;
}

.brilho1{
 padding: 0px !important;
 border-radius: 100px;
 outline: 4px solid #FFFFFF4F;
}

.brilho1::before {
 transition: 0.35s ease-out;
 filter: blur(12px);
 background: linear-gradient(to right, transparent 30%, #ff7037 80%, #ff4900 95%);
 width: 108%;
 height: 125%;
 left: 50%;
 top: 50%;
 content: "";
 will-change: filter;
 border-radius: 100px;
 position: absolute;
 transform: translate(-50%, -50%);
 z-index: 1;
 opacity: var(--before-opacity, 1);
}

.brilho1::after {
 transition: 0.35s ease-out;
 filter: blur(12px);
 background: linear-gradient(to left, transparent 30%, #ff7037 80%, #ff4900 95%);
 width: 108%;
 height: 125%;
 left: 50%;
 top: 50%;
 content: "";
 will-change: filter;
 border-radius: 100px;
 position: absolute;
 transform: translate(-50%, -50%);
 z-index: 1;
 opacity: var(--after-opacity, 0);
}

.brilho2 .elementor-button-text,
.brilho2 .elementor-button-icon {
 z-index: 5;
 align-self: center !important;
 vertical-align: center !important;
}

.brilho1 {
 width: fit-content;
 overflow: visible;
 z-index: 1;
 position: relative;
 padding: 0px;
}

.brilho2 {
 z-index: 5;
 overflow: hidden;
 border-radius: 100px;
 position: relative;
}/* End custom CSS */